<body>
    <header>
      <div class="header-content">
        <div class="logo-container">
          <img class="logo" src="../../assets/doConnect logo.png" alt="DoConnect Logo">
          <h1>DoConnect</h1>
        </div>
        <nav>
          <ul>
            <li><a (click)="goToLoginPage()">Login</a></li>
            <li><a (click)="goToRegisterPage()"> Register</a></li>
          </ul>
        </nav>
      </div>
    </header>
  
    <main>
      <div class="main-content">
        <h2>Welcome to DoConnect</h2>
        <p>DoConnect is a popular Q&amp;A platform where you can ask and answer technical questions. Join our community today!</p>
      </div>
    </main>
  
    <footer>
      <p>&copy; 2023 DoConnect. All rights reserved</p>
    </footer>
  </body>
